<template name="Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Study Buddy</h1></a>
      {{#if currentUser}}
      <a class="{{ isActiveRoute 'Calendar_Page'}} item" href="{{ pathFor 'Calendar_Page' }}">Calendar</a>
      <a class="{{ isActiveRoute 'My_Profile_Page'}} item" href="{{ pathFor 'My_Profile_Page' }}">My Profile</a>
      <a class="{{ isActiveRoute 'Leaderboard_Page'}} item" href="{{ pathFor 'Leaderboard_Page' }}">Leaderboard</a>
      <a class="{{ isActiveRoute 'Public_Chat_Page'}} item" href="{{ pathFor 'Public_Chat_Page' }}">Public Chat</a>
      <a class="{{ isActiveRoute 'About_Us_Page'}} item" href="{{ pathFor 'About_Us_Page' }}">About Us</a>
      <a class="{{ isActiveRoute 'Careers_Page'}} item" href="{{ pathFor 'Careers_Page' }}">Careers</a>
      {{/if}}
      <a href="#" class="item">{{> loginButtons }} </a>
    </div>
  </div>
</template>