body {
  padding-top: 71px;  /* Move body of page below navbar. */
  background: url(https://upload.wikimedia.org/wikipedia/commons/3/38/UniversityHawaiiManoaCampusRoundtop.jpg);
}
.ui.image.feel{
  width:125px;
  height:90px;
}
#head {
  margin: 0px;
  border-radius: 0px;
  background-color: #DFF2FF;
}

